@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h1 class="display-4">Welcome Girls!! Yeiiii</h1>
        <h1 class="display-4">Gisell</h1>
        <h1 class="display-4">Ana, Viri</h1>
        <h1 class="display-4">Ana, Viri, Mara, Nad</h1>


        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    </div>
