@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h1 class="display-4">Welcome to Math Challenges for kids</h1>
       
        <p></p>
        <p><a asp-area="" asp-controller="Home" asp-action="Challenge">Start</a></p>

    </div>
